* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

:root {
    --red: #ff0000;
    --white: #ffffff;
    --sepcialWhite: #f4f4f8;
    --black: #000000;
    --gray: #d5d5d5;
    --blue: #0000ff;
    --DarkBlue: #0000a9;
    --SuperDarkBlue: #020284;
    --specialDarkBlue: #032457;
    --specialBlue: #023d77;
    --specialSuperBlue: #062748;
    --DiferentBlue: #009099;
    --DarkDiferentBlue: #014c4a;
}

button {
    transition:
        box-shadow 0.2s ease-in,
        background-color 0.3s ease-in;
}


/*--------------------------Header------------------------------*/

#header-container {
    width: 100%;
    height: 100px;
    z-index: 1000;
    position: fixed;
    background: linear-gradient(45deg, var(--DiferentBlue), var(--specialDarkBlue));
    opacity: .98;
    color: white;
}

.header-box .icon-personal {
    display: none;
}

.header-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header-box .title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-box .title h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: overline;
    user-select: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-box .title h1 a {
    color: var(--white);
    text-decoration: none;
}


.header-box .title img {
    position: relative;
    top: -2px;
    width: 40px;
    border-radius: 50%;
}

.action-nav {
    left: 0 !important;
}

.ul-nav-desktop {
    display: none;
}

.header-box .navegator-box .ul-list-mobile {
    position: absolute;
    width: 100%;
    left: -100%;
    height: 120vh;

    background-image: url(../img/background-movil-hiperlink.jpg);
    background-position: center;
    background-size: cover;
    top: -80px;
    padding: 50px 20px;
    transition: left .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}


.header-box .navegator-box .ul-list-mobile img {
    position: relative;
    top: -25px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--red);
    cursor: pointer;
    z-index: 10;
    transition:
        box-shadow 0.3s ease-in,
        scale 0.3s ease-in;
}

.header-box .navegator-box .ul-list-mobile img:hover {
    box-shadow: 0 0 15px var(--black);
    scale: 1.5;
}

.header-box .navegator-box .ul-list-mobile li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    list-style: none;

}

.header-box .navegator-box .ul-list-mobile li a {
    color: var(--white);
    text-decoration: none;
}

.header-box .navegator-box .ul-list-mobile li a:focus {
    text-decoration: underline;
}

.header-box .navegator-box .icon-box input {
    display: none;
}

.header-box .navegator-box .icon-box svg {
    cursor: pointer;
}

#header-container .progress {
    position: fixed;
    top: 0;
    width: 0%;
    background-color: var(--specialDarkBlue);
    height: 7px;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/*-----------------------Main: container-form ------------------------------*/


#container-form {
    background: linear-gradient(to bottom, rgba(187, 233, 239, 0.719) 0%, rgba(5, 65, 71, 0.719) 40%, rgba(78, 53, 11, 0.695) 100%), url(../img/register-img/background-register-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: calc(100vh + 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding: 190px 25px 45px 25px;
    flex-direction: column;
}

#container-form .initial-box-form {
    display: none;
}

#container-form .form-boxes {
    display: flex;
}

.index_z {
    z-index: 10;
}

.indexless_z {
    z-index: 0;
}

.form-register {
    background-color: var(--white);
    border-radius: 0 15px 15px 0px;
    box-shadow: 0 0 10px var(--black);
    height: 500px;
    padding: 105px 35px 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.form-register h3 {
    font-size: 2em;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.form-register svg:hover {
    fill: var(--DiferentBlue);
    stroke: var(--DiferentBlue);
}

.form-register .icon-form {
    display: flex;
    gap: 15px;
    position: relative;
    bottom: 45px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.form-register #b-register {
    border: none;
    background: none;
    width: auto;
    cursor: pointer;
    margin-top: 10px;
    color: var(--black);
    text-decoration: none;
}

.form-register #b-register:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 10px #000000;
}

form .button-register {
    align-self: center;
    height: 45px;
    width: 125px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, var(--blue), var(--specialBlue));
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

form .button-register:hover {
    background: linear-gradient(45deg, var(--blue), var(--specialDarkBlue));
    box-shadow: 0 0 20px var(--black);
}

.input-group {
    font-size: 1.2em;
    position: relative;
}


.input-group .input {
    all: unset;
    font-size: .8em;
    padding: 6px;
    width: 250px;
    height: 35px;
    border: 2px solid var(--specialDarkBlue);
    border-radius: 16px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: none;
}

.input-group .label {
    font-size: .8em;
    position: absolute;
    top: 16px;
    left: 10px;
    color: var(--black);
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: .9;
}

.input:focus {
    border: 1px solid var(--SuperDarkBlue);
    background-color: wheat;
}


.input:is(:focus, :valid)~label {
    transform:
        translateY(-180%) scale(0.7);
    padding-inline: 5px;
    color: var(--black);
}

/**/


.form-login {
    background-color: var(--white);
    border-radius: 0 15px 15px 0px;
    box-shadow: 0 0 10px var(--black);
    height: 500px;
    padding: 105px 35px 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.form-login h3 {
    font-size: 2em;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.form-login svg:hover {
    fill: var(--DiferentBlue);
    stroke: var(--DiferentBlue);
}

.form-login .icon-form {
    display: flex;
    gap: 15px;
    position: relative;
    bottom: 45px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.form-login #b-login {
    border: none;
    background: none;
    width: auto;
    cursor: pointer;
    margin-top: 10px;
    color: var(--black);
    text-decoration: none;
}

.form-login #b-login:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 10px #000000;
}


/*-----------------------footer ------------------------------*/

#footer-container {
    height: auto;
    width: 100%;
    padding: 50px 25px;
    background: linear-gradient(45deg, var(--DiferentBlue), var(--specialDarkBlue));
    z-index: 0;
}

.footer-box .footer-box-content {
    width: 100%;
    height: auto;
    padding: 0px 0 25px 0;
    display: flex;
    justify-content: left;
    gap: 5px;
    flex-direction: column;
}

.footer-box-content .footer-principal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-box-content .footer-principal h2 {
    color: var(--white);
    text-decoration: overline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-box-content .footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-box-content .footer-links ul {
    display: flex;
}

.footer-box-content .footer-links a {
    color: var(--white);
    text-decoration: none;
}

.footer-box-content .footer-links a:hover {
    text-decoration: underline;
}

.footer-box .footer-box-content img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--black);
    user-select: none;
}

.footer-box .copy {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
}

.footer-box .copy p {
    color: var(--white);
    width: 180px;

}


.footer-box .copy .social-icon {
    display: flex;
    gap: 15px;
}

.footer-box .copy .social-icon svg:hover {
    fill: white !important;
}

@media (width >=1000px) {
    .ul-nav-desktop {
        display: flex;
        flex-direction: row;
        position: relative;
        background: none;
        left: 0px;
        height: 5px;
        top: 4px;
        right: 25px;
        transition: none;
    }


    .header-box .navegator-box .ul-nav-desktop img {
        display: none;
    }
}

@media (width > 1200px) {
    /*-------------------------Main: Header--------------------------*/

    #hero {
        width: 100%;
    }


    .header-box .icon-personal {
        display: block;
        color: var(--white);
        text-decoration: none;
    }

    .header-box .icon-personal svg:hover {
        fill: var(--black) !important;
    }


    .header-box .icon-personal::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--DiferentBlue);

        transition: width .3s;
    }

    .header-box .icon-personal:hover::after {
        width: 100%;
        transition: width .3s;

    }


    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 100px;
        position: 0;
    }

    .header-box .navegator-box .ul-nav-desktop {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 35px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .header-box .navegator-box .ul-nav-desktop svg {
        cursor: pointer;
    }

    .header-box .navegator-box .ul-nav-desktop svg:hover {
        fill: var(--black);
    }

    .header-box .navegator-box .ul-nav-desktop li {
        font-size: 1.5em;
        list-style: none;
    }

    .header-box .navegator-box .ul-nav-desktop li a {
        color: var(--white);
        text-decoration: none;
    }


    .header-box .navegator-box .ul-nav-desktop li a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--DiferentBlue);
        transition: width .3s;
    }

    .header-box .navegator-box .ul-nav-desktop li a:hover::after {
        width: 100%;
        transition: width .3s;
    }

    .header-box .navegator-box .icon-box svg {
        display: none;
    }

    /*-------------------------Main: Container-form--------------------------*/

    .form {
        border-radius: 0 15px 15px 0;
    }

    /*-------------------------Main: Container-form--------------------------*/

    #container-form {
        display: flex;
        flex-direction: row;
    }

    #container-form .initial-box-form {
        height: 500px;
        width: 550px;
        background: linear-gradient(to bottom, rgba(6, 52, 57, 0.219) 0%, rgba(78, 53, 11, 0.295) 100%), url(../img/register-img/register-img.jpg);
        background-repeat: none;
        background-position: center;
        background-size: cover;
        color: var(--white);
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px var(--black);

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        position: relative;
        border-radius: 15px 0 0 15px;
    }

    #container-form .initial-box-form h2 {
        font-size: 2.5em;
        text-shadow: 5px 5px 15px #000000;
    }

    #container-form .initial-box-form .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        padding-top: 25px;
        padding: 25px 50px 0px 50px;
    }

    #container-form .initial-box-form p {
        font-weight: bold;
        font-size: 1.2em;

        text-shadow: 5px 5px 15px #000000;
        text-align: center;
    }


    /*-------------------------Main: footer--------------------------*/
    #footer-container {
        padding: 50px 100px;
    }


    .footer-box .copy p {
        width: 100%;
    }
}